export(gbmt)

S3method(print, gbmt)
S3method(summary, gbmt)
S3method(plot, gbmt)

import(Matrix)
importFrom("grDevices", "n2mfrow")
importFrom("graphics", "abline", "axis", "box", "grid", "lines", "par")
importFrom("stats", "AIC", "cov", "dnorm", "formula", "kmeans", "lm",
           "nobs", "predict", "qt", "quantile", "runif", "spline", "var")
importFrom("utils", "flush.console")